<nav class="navbar fixed-bottom bg-white border border-top-1 justify-content-between py-2 d-flex d-lg-none m-3 rounded">
  <a class="nav-link text-dark h5 py-0 text-center mb-0 px-1" href="dashboard-manager.html"><i class="fe fe-home text-success d-block mb-2"></i>Home</a>
  <a class="nav-link text-secondary h5 py-0 text-center mb-0 font-weight-normal px-1" href="market.html"><i class="fe fe-activity d-block mb-2"></i>Market</a>
  <a class="nav-link text-secondary h5 py-0 text-center mb-0 font-weight-normal px-1" href="ranking.html"><i class="fe fe-award d-block mb-2"></i>Ranking</a>
</nav>
