<footer class="bg-dark py-5">
  <div class="container">
    <div class="row mb-4">
      <div class="col-12 col-lg-auto mr-auto mb-5 mb-lg-0">
        <div class="avatar mb-4">
          <img src="@@webRoot/assets/img/logo.png" class="avatar-img rounded" alt="...">
        </div>
        <a class="btn btn-block btn-secondary rounded-xl lift" href="https://ethereum.org/" target="_blank"><img class="mr-2" src="@@webRoot/assets/img/eth-diamond-rainbow.png" height="24" alt="">Build on Ethereum</a>
        <a class="btn btn-block btn-secondary rounded-xl lift" href="https://solidity.readthedocs.io/en/v0.7.4/" target="_blank"><img class="mr-2" src="@@webRoot/assets/img/solidity-logo.svg" height="24" alt="">Crafted with Solidity</a>
      </div>
      <div class="col-12 col-lg-2 mb-5 mb-lg-0">
        <h6 class="text-uppercase text-secondary mb-2">
          Products
        </h6>
        <nav class="nav flex-column">
          <a class="nav-link text-white pl-0" href="./download">Wallet</a>
        </nav>
      </div>
      <div class="col-12 col-lg-2 mb-5 mb-lg-0">
        <h6 class="text-uppercase text-secondary mb-2">
          Resources
        </h6>
        <nav class="nav flex-column">
          <a class="nav-link text-white pl-0" href="../assets/pdf/PEAKDEFI_Whitepaper_v0.1.pdf" target="_blank">Whitepaper</a>
          <a class="nav-link text-white pl-0" href="https://peakdefi.gitbook.io/peakdefi/" title="Get answers at the help centre" target="_blank">Help Center</a>
          <a class="nav-link text-white pl-0" href="https://certificate.quantstamp.com/full/peakdefi" target="_blank">Security audits</a>
        </nav>
      </div>
      <div class="col-12 col-lg-2 mb-5 mb-lg-0">
        <h6 class="text-uppercase text-secondary mb-2">
          Company
        </h6>
        <nav class="nav flex-column">
          <a class="nav-link text-white pl-0" href="about.html">About</a>
          <a class="nav-link text-white pl-0" href="https://www.iubenda.com/privacy-policy/97319236" target="_blank">Privacy Policy</a>
          <a class="nav-link text-white pl-0" href="vision-and-mission.html">Vision & Mission</a>
          <a class="nav-link text-white pl-0" href="https://www.iubenda.com/terms-and-conditions/97319236" target="_blank">Terms and Conditions</a>
        </nav>
      </div>
    </div>
    <!-- Divider -->
    <hr class="my-4 my-lg-3">
    <div class="row justify-content-center justify-content-lg-between mb-4">
      <div class="col-auto mb-4 mb-lg-0 d-flex align-items-center">
        <span class="text-secondary">&#169; 2021 Peak Tech.</span>
      </div>
      <div class="col-auto mb-4 mb-lg-0">
        <nav class="nav flex-row">
          <a class="nav-link text-white pl-0" href="https://t.me/peakdefi_official" target="_blank"><img src="../assets/img/icons/telegram.svg" width="18px"/></a>
          <a class="nav-link text-white pl-0" href="https://discord.gg/3ENv5QCtcs" target="_blank"><img src="../assets/img/icons/discord.svg" width="18px"/></a>
          <a class="nav-link text-white pl-0" href="https://twitter.com/peakdefi" target="_blank"><img src="../assets/img/icons/twitter.svg" width="18px"/></a>
          <a class="nav-link text-white pl-0" href="https://medium.com/@PeakDeFi" target="_blank"><img src="../assets/img/icons/medium.svg" width="18px"/></a>
          <a class="nav-link text-white pl-0" href="https://github.com/peakdefi" target="_blank"><img src="../assets/img/icons/github.svg" width="18px"/></a>
          <a class="nav-link text-white pl-0" href="https://defipulse.com" target="_blank"><img src="../assets/img/icons/defipulse.svg" height="18px"/></a>
        </nav>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col">
        <div class="card card-inactive">
          <div class="card-body">
            <h3 class="text-center">Disclaimer</h3>
            <h4>No Advice</h4>
            <p class="small text-secondary">The information on this Site is provided for information only and does not constitute, and should not be construed as, investment advice or a recommendation to buy, sell, or otherwise transact in any investment including any products or services or an invitation, offer or solicitation to engage in any investment activity.
            </p>
            <p class="small text-secondary">The information on this Site is provided solely on the basis that you will make your own investment decisions and PEAKDEFI does not take account of any investor’s investment objectives, particular needs, or financial situation. In addition, nothing on this Site shall, or is intended to, constitute financial, legal, accounting or tax advice.
            </p>
            <p class="small text-secondary">It is strongly recommended that you seek professional investment advice before making any investment decision. Any investment decision that you make should be based on an assessment of your risks in consultation with your investment adviser.
            </p>
            <h4>Risk Warnings</h4>
            <p class="small text-secondary">There are significant risks associated with an investment in any products or services provided by PEAKDEFI. Investment in the products and services is intended only for those investors who can accept the risks associated with such an investment (including the risk of a complete loss of investment) and you should ensure you have fully understood such risks before taking any decision to invest.
            </p>
            <p class="small text-secondary">Past performance does not guarantee future performance and the value of investments can fall as well as rise. No investment strategy is without risk and markets influence investment performance. Investment markets and conditions can change rapidly. Strategies or products can lose money as well as gain. All investors should consider investing only if they can accept the risks associated with investing including a loss of invested capital. No investor should invest without a thorough reading of the risk factors associated with each investment strategy in official documentation provided for each fund or strategy. Investors with questions should additionally seek independent investment advice tailored to their needs, circumstances, and risk tolerances.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>
