<!-- Modal: fund details -->
@@include("modal-fund-details.html")

<!-- Modal: deposit money -->
@@include("modal-deposit-money.html")

<!-- Modal: buy rep token -->
@@include("modal-buy-rep-token.html")

<!-- Modal: modal-stake-peak -->
@@include("modal-stake-peak.html")

<!-- Modal: witdraw money -->
@@include("modal-withdraw-money.html")

<!-- Modal: onboarding invest -->
@@include("modal-onboarding-invest.html")

<!-- Modal: onboarding staking -->
@@include("modal-onboarding-staking.html")

<!-- Modal: manager-buy-position -->
@@include("modal-manager-buy-position.html")

<!-- Modal: manager-sell-position -->
@@include("modal-manager-sell-position.html")

<!-- Modal: manager-top-up-position -->
@@include("modal-manager-top-up-position.html")

<!-- Modal: manager-top-up-position -->
@@include("modal-create-fund.html")

<!-- Modal: video -->
@@include("modal-video.html")
