<!-- IDEA: modal manager top up position -->
<div class="modal fade fixed-right" id="managerTopUpPosition" tabindex="-1" role="dialog" aria-labelledby="managerTopUpPosition" aria-hidden="true">
  <div class="modal-dialog modal-dialog-vertical bg-white" role="document">
    <div class="modal-content">
      <div class="modal-body p-lg-0">
        <div class="d-inline-block w-lg-60">
          <button class="btn btn-link text-white position-absolute mt-n4 ml-n4 ml-lg-0 mt-lg-0" type="button" name="button" data-dismiss="modal" aria-label="Close">
            <i class="fe fe-arrow-left h2"></i>
          </button>
          <div class="row justify-content-center">
            <div class="col col-lg-8">
              <!-- Heading -->
              <h1 class="display-4 text-center my-5">
                Top up position
              </h1>

              <div class="card mb-6">
                <div class="card-body">
                  <div class="row align-items-center justify-content-center mb-3">
                    <div class="col">
                      <h6 class="header-pretitle mb-0">
                        Collateralization status
                      </h6>
                    </div>
                  </div>
                  <div class="row align-items-center mb-4">
                    <div class="col">
                      <span class="badge badge-soft-success mb-4 d-none">
                        Safe
                      </span>
                      <span class="badge badge-soft-danger mb-4">
                        In Danger
                      </span>
                      <div class="progress">
                        <div class="progress-bar bg-danger" role="progressbar" style="width:55%">
                          0.00%
                        </div>
                      </div>
                      <div class="row no-gutters justify-content-between text-secondary mb-3">
                        <div class="col text-left">
                          <small class="h6">0.00%</small>
                          <small class="h6 d-block" i18n="@@orderSafetyInDanger">In danger</small>
                        </div>
                        <div class="col text-left position-absolute d-block w-auto" style="left: 49.0000%;transform: translateX(-50%);">
                          <div style="display: flex; flex-direction: column;">
                            <div style="border: 0.5px dashed #6e84a3; width: 1px; height: 8px; align-self: center;"></div>
                            <small class="h6">0.00%&nbsp;•&nbsp;<ng-container
                                i18n="@@modalMinCollRatio">min. collateral ratio</ng-container></small>
                          </div>
                        </div>
                        <div class="col text-right">
                          <small class="h6">0.00%</small>
                          <small class="h6 d-block" i18n="@@orderSafetySafe">Safe</small>
                        </div>
                      </div>
                      <p class="text-secondary small mb-0" i18n="@@modalTopUpCollateralLiquidationText">If the order's
                        collateral ratio falls below the minimum, it will be
                        liquidated, which will cause huge losses.</p>
                    </div>
                  </div>
                  <!-- Collateralization target -->
                  <div class="row mb-4">
                    <div class="col">
                      <div class="form-group">
                        <label>Collateralization target</label>
                        <div class="input-group mb-2">
                          <input type="number" min="0.0" class="form-control form-control-lg border-right-0 pr-0"
                            aria-describedby="percent of collateralization target" placeholder="0.0"
                            id="collateral-ratio-target-input" (input)="continueEnabled = true">
                          <div class="input-group-append">
                            <span class="input-group-text border-left-0 border-right-0"
                              id="desiredCollateralizationUnit">%</span>
                            <button class="btn btn-white" name="button" type="button"
                              *ngIf="toBigNumber(sellData.currCash).lt(sellData.currBorrow)" (click)="maxTopupTarget()"
                              i18n="@@modalCtaMax">Max</button>
                          </div>
                        </div>
                        <small id="kroBalance" class="form-text text-secondary d-inline-block mb-0 mt-1">
                          0.00%&nbsp;•&nbsp;
                          Max possible collateral ratio
                        </small>
                      </div>
                    </div>
                  </div>
                  <div class="table-responsive d-block d-lg-none mb-4">
                    <table class="table mb-0">
                      <thead>
                        <tr>
                          <th class="px-0 bg-transparent border-0 text-white">Order details</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="px-0 border-0 text-white">
                            <strong>Collateralization target %</strong>
                          </td>
                          <td class="px-0 text-right text-white border-0">
                            0.00
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <a class="btn btn-primary btn-lg btn-block" href="#metamask">Continue</a>
                </div>
              </div>
              @@include("faq.html")
            </div>
          </div>
        </div>
        <div class="d-lg-inline-block w-lg-40 position-fixed d-none">
          <div class="bg-white vh-100 p-4">
            <div class="row justify-content-center">
              <div class="col-10">
                <div class="table-responsive">
                  <table class="table mb-0">
                    <thead>
                      <tr>
                        <th class="px-0 bg-transparent border-0 text-dark">Order details</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="px-0 border-0 text-dark">
                          <strong>Collateralization target %<strong>
                        </td>
                        <td class="px-0 text-right text-dark border-0">
                          0.00
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- / modal -->
