<!-- IDEA: modal manager buy position -->
<div class="modal fade fixed-right" id="managerBuyPosition" tabindex="-1" role="dialog" aria-labelledby="managerBuyPosition" aria-hidden="true">
  <div class="modal-dialog modal-dialog-vertical bg-white" role="document">
    <div class="modal-content">
      <div class="modal-body p-lg-0">
        <div class="d-inline-block w-lg-60">
          <button class="btn btn-link text-white position-absolute mt-n4 ml-n4 ml-lg-0 mt-lg-0" type="button" name="button" data-dismiss="modal" aria-label="Close">
            <i class="fe fe-arrow-left h2"></i>
          </button>
          <div class="row justify-content-center">
            <div class="col col-lg-8">
              <!-- Heading -->
              <h1 class="display-4 text-center my-5">
                Open position
              </h1>

              <div class="card mb-6">
                <div class="card-body">
                  <div class="form-group">
                    <label class="mt-1">Asset</label>
                    <div class="input-group mb-4">
                      <select class="custom-select custom-select-lg">
                        <option value="fundtitle">WBTC</option>
                        <option value="fundtitle">ETH</option>
                        <option value="fundtitle">ETH long &bull; leverage 1.5x</option>
                        <option value="fundtitle">ETH short &bull; leverage 1.5x</option>
                        <option value="fundtitle">DGX</option>
                        <option value="fundtitle">KNC</option>
                        <option value="fundtitle">MKR</option>
                        <option value="fundtitle">LINK</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>KRO to stake</label>
                    <div class="input-group mb-2">
                      <input type="text" class="form-control form-control-lg" placeholder="0.00" aria-label="" aria-describedby="">
                      <div class="input-group-append">
                        <button class="btn border" type="button">Max</button>
                      </div>
                    </div>
                    <small class="form-text text-secondary">100.0000 KRO available</small>
                  </div>
                  <div class="form-group">
                    <label>Max. acceptable buy price</label>
                    <div class="input-group mb-2">
                      <input type="text" class="form-control form-control-lg" value="3.00" placeholder="0.00" aria-label="" aria-describedby="">
                      <div class="input-group-append">
                        <span class="input-group-text rounded-right border-left-0" id="basic-addon3">%</span>
                      </div>
                    </div>
                    <small class="form-text text-secondary">Your order WON'T be executed if the price goes up by more than this value.</small>
                  </div>
                  <div class="form-group">
                    <label>Liquidity provider</label><br>
                    <div class="custom-control custom-radio custom-control-inline"><input class="custom-control-input" id="1inch" name="1inch" type="radio"><label class="custom-control-label" for="dexag">1inch</label></div>
                    <div class="custom-control custom-radio custom-control-inline"><input class="custom-control-input" id="kybernetwork" name="kybernetwork" type="radio"><label class="custom-control-label" for="kybernetwork">Kyber</label></div>
                  </div>
                  <div class="table-responsive d-block d-lg-none mb-4">
                    <table class="table mb-0">
                      <thead>
                        <tr>
                          <th class="px-0 bg-transparent border-0 text-white">Trade details</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="px-0 border-0 text-white">
                            <strong>Asset price (USD)</strong>
                          </td>
                          <td class="px-0 text-right text-white border-0">
                            0.0000
                          </td>
                        </tr>
                        <tr>
                          <td class="px-0 border-0 text-white">
                            <strong>Staked KR0</strong>
                          </td>
                          <td class="px-0 text-right text-white border-0">
                            0.0000
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <a class="btn btn-primary btn-lg btn-block" href="#metamask">Continue</a>
                </div>
              </div>
              @@include("faq.html")
            </div>
          </div>
        </div>
        <div class="d-lg-inline-block w-lg-40 position-fixed d-none">
          <div class="bg-white vh-100 p-4">
            <div class="row justify-content-center">
              <div class="col-10">
                <div class="table-responsive">
                  <table class="table mb-0">
                    <thead>
                      <tr>
                        <th class="px-0 bg-transparent border-0 text-dark">Trade details</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="px-0 border-0 text-dark">
                          <strong>Asset price (USD)</strong>
                        </td>
                        <td class="px-0 text-right text-dark border-0">
                          0.0000
                        </td>
                      </tr>
                      <tr>
                        <td class="px-0 border-0 text-dark">
                          <strong>Staked KR0</strong>
                        </td>
                        <td class="px-0 text-right text-dark border-0">
                          0.0000
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- / modal -->
