<!-- IDEA: modal withdrawMoney -->
<div class="modal fade fixed-right" id="withdrawMoney" tabindex="-1" role="dialog" aria-labelledby="withdrawMoney" aria-hidden="true">
  <div class="modal-dialog modal-dialog-vertical bg-white" role="document">
    <div class="modal-content">
      <div class="modal-body p-lg-0">
        <div class="d-inline-block w-lg-60">
          <button class="btn btn-link text-white position-absolute mt-n4 ml-n4 ml-lg-0 mt-lg-0" type="button" name="button" data-dismiss="modal" aria-label="Close">
            <i class="fe fe-arrow-left h2"></i>
          </button>
          <div class="row justify-content-center">
            <div class="col col-lg-8">
              <!-- Heading -->
              <h1 class="display-4 text-center mt-5">
                Sell shares
              </h1>
              <h6 class="header-pretitle text-center text-muted mb-1 time-left-title">
                TIME LEFT UNTIL OPERATION ALLOWED
              </h6>
              <h4 class="header-title text-center text-secondary time-left-value mb-5"> 12<!---->d&nbsp;7<!---->h&nbsp;45<!---->m &nbsp;1<!---->s</h4>
              <div class="card mb-6">
                <div class="card-body">
                  <div class="form-group">
                    <label class="mt-1">Sell</label>
                    <div class="input-group mb-4">
                      <select class="custom-select custom-select-lg">
                        <option value="fundtitle">Fund share A</option>
                        <option value="fundtitle">Fund share B</option>
                        <option value="fundtitle">Fund share C</option>
                      </select>
                    </div>
                  </div>


                  <div class="form-row">
                    <div class="form-group col-12 col-lg-6 mb-4 mb-lg-0">
                      <label>Amount</label>
                      <div class="input-group mb-2">
                        <input type="text" class="form-control form-control-lg" placeholder="0.00" aria-label="" aria-describedby="">
                        <div class="input-group-append">
                          <button class="btn border" type="button">Max</button>
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-12 col-lg-6 mb-0">
                      <label>Deposit to</label>
                      <div class="input-group input-group-lg mb-2">
                        <select class="custom-select custom-select">
                          <option value="">ETH wallet</option>
                          <option value="">DAI wallet</option>
                          <option value="">USDC wallet</option>
                          <option value="">WBTC wallet</option>
                          <option value="">LINK wallet</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <small class="form-text text-secondary mb-4">1,000.0000 Shares available</small>
                  <div class="table-responsive d-block d-lg-none mb-4">
                    <table class="table mb-0">
                      <thead>
                        <tr>
                          <th class="px-0 bg-transparent border-0 text-white">Order details</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="px-0 border-0 text-white">
                            <strong>Share price (USD)</strong>
                          </td>
                          <td class="px-0 text-right text-white border-0">
                            10.00
                          </td>
                        </tr>
                        <tr>
                          <td class="px-0 border-0 text-white">
                            <strong>Shares amount</strong>
                          </td>
                          <td class="px-0 text-right text-white border-0">
                            1,000.0000
                          </td>
                        </tr>
                        <tr>
                          <td class="px-0 text-white border-0">
                            <strong>PEAK tokens to redeem</strong>
                          </td>
                          <td class="px-0 text-white text-right border-0">
                            1,000.0000
                          </td>
                        </tr>
                        <tr>
                          <td class="px-0 border-top border-top-1 border-white text-white"><strong>Sell shares for</strong></td>
                          <td colspan="2" class="px-0 text-right border-top border-top-1 border-white text-white">
                            <span class="h3">30.0000 ETH</span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <a class="btn btn-primary btn-lg btn-block" href="dashboard-full_3.html">Confirm</a>
                </div>
              </div>
              @@include("faq.html")
              <!-- Text -->
              <p class="text-secondary small">
                By tapping or clicking 'Confirm', you accept the following terms of service. You also agree that your purchase will be available immediately.
              </p>
            </div>
          </div>
        </div>
        <div class="d-lg-inline-block w-lg-40 position-fixed d-none">
          <div class="bg-white vh-100 p-4">
            <div class="row justify-content-center">
              <div class="col-10">
                <div class="table-responsive">
                  <table class="table mb-0">
                    <thead>
                      <tr>
                        <th class="px-0 bg-transparent border-0 text-dark">Order details</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="px-0 border-0 text-dark">
                          <strong>Share price (USD)</strong>
                        </td>
                        <td class="px-0 text-right text-dark border-0">
                          10.00
                        </td>
                      </tr>
                      <tr>
                        <td class="px-0 border-0 text-dark">
                          <strong>Shares amount</strong>
                        </td>
                        <td class="px-0 text-right text-dark border-0">
                          1,000.0000
                        </td>
                      </tr>
                      <tr>
                        <td class="px-0 text-dark border-0">
                          <strong>PEAK tokens to redeem</strong>
                        </td>
                        <td class="px-0 text-dark text-right border-0">
                          1,000.0000
                        </td>
                      </tr>
                      <tr>
                        <td class="px-0 border-top border-top-1 border-dark text-dark"><strong>Sell shares for</strong></td>
                        <td colspan="2" class="px-0 text-right border-top border-top-1 border-dark text-dark">
                          <span class="h3">30.000000 ETH</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- / modal -->
