<nav class="navbar navbar-expand-md d-none d-md-flex border-0" id="topbar">
  <div class="container-fluid justify-content-end px-4">

    <div class="navbar-user justify-content-center" id="sidebarUser">
      <a href="@@webRoot/ranking.html" class="d-block mr-4">
        <!-- Title -->
        <h6 class="text-uppercase text-secondary mb-2">
          Rank
        </h6>
        <!-- Heading -->
        <span class="h4 mb-0 text-white">
          #2
        </span>
      </a>
      <div class="btn btn-white btn-block p-0 pr-3 rounded-xl text-left">
        <div class="avatar avatar-sm avatar-online mr-2">
          <img src="@@webRoot/assets/img/avatars/profiles/eth-address.png" class="avatar-img rounded-circle" alt="...">
        </div>
        manager.eth
      </div>
    </div>

  </div>
</nav>
