<nav class="navbar bg-dark border-0">
  <div class="container align-items-center px-0 px-lg-3">
    <a href="@@webRoot/" class="navbar-brand mr-auto">
      <div class="avatar mr-2">
        <img src="@@webRoot/assets/img/logo.png" class="avatar-img rounded" alt="...">
      </div>
      <span class="d-none d-lg-inline-block text-white">PEAKDEFI</span>
    </a>
    <div class="d-flex align-items-center">
      <a class="btn btn-white rounded-xl d-flex align-items-center lift mr-2 mr-lg-3" onclick="openInvestorPortal()">
        <div class="avatar avatar-xs mr-2">
          <span class="avatar-title rounded-circle bg-warning"><i class="fe fe-dollar-sign text-dark"></i></span>
        </div>
        Invest
      </a>
      <a class="btn btn-white rounded-xl d-flex align-items-center lift" href="#" data-toggle="modal" data-target="#modal-onboarding-staking">
        <div class="avatar avatar-xs mr-2">
          <span class="avatar-title rounded-circle bg-success"><i class="fe fe-award text-dark"></i></span>
        </div>
        Earn <span class="d-none d-lg-flex ml-2">rewards</span>
      </a>
    </div>
  </div>
</nav>